.header {
  font-size: 24px;
  margin-bottom: 20px;
}

.qr-code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.color-pickers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

@media (max-width: 600px) {
  .qr-code-container, .color-pickers {
    flex-direction: column;
    align-items: center;
  }

  .App-header {
    justify-content: flex-start;
    padding-top: 10px;
  }
}
